# vscode
.vscode

# Mac
.DS_Store
._.DS_Store

# pyenv
venv/
.venv/

# python 
*.pyc
*.pro
*~
__pycache__

# QML
*.qmlc

# makefile
*.[oa]
*.so
hexdump/hexdump
float2byte/float2byte
fft-and-snr/src/c/dft
fft-and-snr/src/c/fft
bit-reverse/bitreverse
get-available-space/get-available-space

# audio 

